<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
</head>
<body>

    <header>
        <a class="app-name" href="/">JPortfolio</a>
        <nav class="navbar">         
            <a class="nav-item" href="/"><span>Home</span></a>
            <a class="nav-item" href="/edit-project"><span>Project</span></a>
            <a class="nav-item" href="/about"><span>About</span></a>
            <a class="nav-item" href="/login"><span>Login</span></a>
        </nav>

        <!-- This collapsed navigation will be displayed on screens with width at most 725 pixels -->
        <div class="dropdown">
            <span class="fa-solid fa-bars bars"></span>
            <div class="dropdown-menu">
                <a class="drop-item" href="/"><span>Home</span></a>
                <a class="drop-item" href="/edit-project"><span>Project</span></a>
                <a class="drop-item" href="/about"><span>About</span></a>
                <a class="drop-item" href="/login"><span>Login</span></a>
            </div>
        </div>
    </header>

    <div class="main" role="main">
        {{{body}}}
    </div>

    <footer>
        <p>&copy;PJM Software Solutions - 2026</p>
    </footer>

</body>
</html>