<link rel="stylesheet" href="/css/about.css">

<div class="about-cnt">

    <h1 class="about-head">About Me</h1>

    <div class="group-cnt">

        <div class="img-cnt">
            <img class="my-img" src="/img/me.jpeg" alt="My picture">
        </div>

        <hr>

        <div class="text-cnt">

            <div class="intro-cnt">
                <h2 class="intro">Introduction</h2>

                <p>
                    I am Pheello Mokoena, a software engineer who lives in the town of Qalabotjha, in the province of Free State, in South Africa. I can describe myself as a person who has a strong
                    zeal for growing in knowledge, not only tech related knowledge but business knowledge and any other knowledge that can make me a better version of myself everyday. The majority of my time everyday is allocated to studying or working on software solutions, that aim at achieving at least two things for my potential clients:
                    <ul>
                        <li><strong>Efficiency in business operations:</strong> Before I commit to working on a project, I ask myself if the solution I want to develop or that the client wants, has the potential to make them more efficient in the way they go about doing their daily operations, for example, will the solution reduce the time spent doing a specific task or will it reduce the cost of doing that task, thereby making them more efficient?</li>
                        <li><strong>Increasing revenue:</strong> Another factor I consider is whether the solution has the potential to improve the client's revenue generation, for example, if the solution can reduce costs, can the client see the opportunity to increase the profit margins, or if the solution makes them more efficient in their business operations, can they therefore increase their sales volume thereby increasing their revenue?</li>
                    </ul>
                </p>
            </div>

            <hr>

            <div class="skill-cnt">

                <h2 class="skills">Technical Skills</h2>
                <p>As a software engineer, I primarily focus on developing software solutions that run on the Internet, such as <strong>Websites or Web applications</strong> and solutions that run on mobile devices such as <strong>mobile apps</strong>. Due to my passion for broadening in knowledge irrespective of the domain, I therefore develop solutions in any domain that I am knowledgeable of. Below are my technical skills that I use to develop software solutions:
                    <ul>
                        <li>
                            <strong>Web Application Skills:</strong>
                            <ol>
                                <li>HyperText Markup Language (HTML)</li>
                                <li>Cascading Style Sheets (CSS)</li>
                                <li>JavaScript Programming Language</li>
                                <li>Express.js</li>
                                <li>Node.js</li>
                                <li>C# Programming Language</li>
                                <li>ASPNET Core</li>
                                <li>ASPNET Core Razor Pages</li>
                                <li>ASPNET Core MVC</li>
                                <li>ASPNET Core Web API</li>
                                <li>Chart.JS library</li>
                            </ol>
                        </li>
                    </ul>

                    <ul>
                        <li>
                            <strong>Mobile Application Skills:</strong>
                            <ol>
                                <li>Dart Programming Language</li>
                                <li>Flutter</li>
                                <li>Android Development</li>
                            </ol>
                        </li>
                    </ul>

                    <ul>
                        <li>
                            <strong>Database Skills:</strong>
                            <ol>
                                <li>MySQL Database Management System</li>
                                <li>Sqlite Database Management System</li>
                                <li>Structured Query Language (SQL)</li>
                                <li>Relational Database Design</li>
                            </ol>
                        </li>
                    </ul>
                </p>

                <h2 class="skills">Soft Skills</h2>

                <p>Below are the abilities I possess that enable me to be effective in everything I commit to do:
                    <ol>
                        <li>Willingness to Learn</li>
                        <li>Problem Solving</li>
                        <li>Analytical Thinking</li>
                        <li>Communication</li>
                        <li>Teamwork</li>
                        <li>Time Management</li>
                        <li>Attention to Detail</li>
                        <li>Adaptability</li>
                    </ol>

                </p>
                
                <h2 class="skills">Software Engineering Skills:</h2>

                <p>Below are the skills that I use during the process of developing a software solution:
                    <ol>
                        <li>Requirements Gathering</li>
                        <li>Requirements Modeling</li>
                        <li>Software Architecture</li>
                        <li>Relational Database Design</li>
                    </ol>
                </p>
            </div>

            <hr>

            <div class="exp-cnt">

                <h2 class="experience">Experience</h2>

                <p>
                    Of all the software solutions I have worked on, there are two that are customer oriented that I will talk about as part of my experience developing software solutions. One was a group project I contributed to in 2025 for our final year Informatics project at the University of Johannesburg.
                </p>

                <p>
                    According to our client which was a secondary school, they wanted to have a way of enabling parents to monitor their children's academic progress and attendance behavior. The solution had to provide a method to allow learners to take an attendance code and submit it using a mobile app, this way the solution would then summarise the attendance records of each learner and produce reports that are easier for the users (parents & learners) to understand, informing the parent on their child's attendance behavior.
                </p>

                <p>
                    Concerning monitoring academic performance, the teachers had to upload their learners' marks after marking, then again the solution would process the marks and produce summaries showing how well or bad the learners are performing academically. The parents and learners were to make use of a mobile app while teachers were to use a web application.
                </p>

                <p>
                    The mobile application was developed using the following technologies: <strong>Dart programming language</strong>, <strong>Flutter framework</strong>, and <strong>fl_chart</strong> for graphically representing summaries. The web application was developed using the following technologies: <strong>ASP.NET Core MVC</strong> for the web app, <strong>ASPNET Core Web API</strong> for the Web API, and <strong>Microsoft SQL Server</strong> for storing learners' marks and attendance records.
                </p>

                <p>
                    Another solution I have worked on alone, is an inventory management web application. With this solution, a stock manager or business owner is able to monitor their stock movements, and if inventory levels reach a certain treshold the solution will inform the stock manager via email informing him that a reorder is required, in addition the solution generates stock reports which inform stock managers of items that need to be reordered.
                </p>

                <p>
                    Another functionality provided by this solution is revenue and purchases report generation. Revenue reports show how the business has been performing monthly by comparing monthly revenues for the past months and which products and categories of products are performing well or not well. Purchases reports show how the business has been spending cash on buying inventory and compares these monthly costs as well as which products and categories did the business spend more or less on.
                </p>
            </div>

            <hr>

            <div class="edu">

                <h2 class="education">Education</h2>
                
                <p>
                    I did my secondary education at <strong>Retshedisitswe Secondary School</strong> from 2016 to 2020 and my tertiary education at the <strong>University of Johannesburg</strong> from 2021 to 2025. At tertiary I was doing BSc in Computer Science & Informatics.
                </p>

                <p>
                    What motivated me to do this course, was the fact that I could develop software solutions and monitize them as a freelancer without necessarily needing to be permantly employed by some employer.
                </p>
            </div>

        </div>

    </div>
</div>