<link rel="stylesheet" href="/css/edit-project.css">

<div class="edit-cnt">

    <h1 class="edit-head">Edit Project</h1>

    <form class="edit-form">

        <div class="row">
            <div class="col">
                <label for="inp-name" class="edit-lbl">Name:</label>
                <input name="name" type="text" id="inp-name" class="edit-inp" placeholder="enter to get data or delete project">
            </div>

            <div class="col">
                <label for="inp-problem" class="edit-lbl">Problem:</label>
                <textarea name="problem" id="inp-problem" class="edit-inp ta"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="inp-solution" class="edit-lbl">Solution:</label>
                <textarea name="solution" id="inp-solution" class="edit-inp ta"></textarea>
            </div>

            <div class="col">
                <label for="inp-revenue" class="edit-lbl">Revenue Impact:</label>
                <textarea name="revenueImpact" id="inp-revenue" class="edit-inp ta"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="inp-cost" class="edit-lbl">Cost Impact:</label>
                <textarea name="costImpact" id="inp-cost" class="edit-inp ta"></textarea>
            </div>

            <div class="col">
                <label for="inp-time" class="edit-lbl">Time Impact:</label>
                <textarea name="timeImpact" id="inp-time" class="edit-inp ta"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="inp-icon" class="edit-lbl">Icon Location:</label>
                <input name="iconLocation" value="" type="text" id="inp-icon" class="edit-inp">
            </div>

            <div class="col">
                <label for="inp-video" class="edit-lbl">Video Location:</label>
                <input name="videoLocation" value="" type="text" id="inp-video" class="edit-inp" />
            </div>
        </div>

        <div class="row btn-row">
            <div class="col">
                <button type="button" class="edit-btn get-data-btn">Data</button>
            </div>

            <div class="col">
                <button type="button" class="edit-btn update-btn">Update</button>
            </div>

            <div class="col">
                <button type="button" class="edit-btn add-btn">Add</button>
            </div>

            <div class="col">
                <button type="button" class="edit-btn delete-btn">Delete</button>
            </div>
        </div>

        <div class="row">

            <div class="col col-status">
                <h2 class="status">Status</h2>
            </div>
        </div>
    </form>

</div>

<script src="js/edit-project.js"></script>