<link rel="stylesheet" href="/css/home.css">

<div class="home-cnt">
    
    <h1 class="home-head">Projects</h1>

    <div class="projects-cnt">

        <button class="slide-btn back-btn"><span>&LessLess;</span></button>

        <div class="slide-cnt">            
            <div class="project-img">
                <div class="proj-cnt">
                    <h4 class="project-name">Ford 1</h4>
                    <img class="slide" src="/img/ford1.jpg" alt="">
                </div>
                <div class="proj-cnt">
                    <h4 class="project-name">Ford 2</h4>
                    <img class="slide" src="/img/ford2.jpeg" alt="">
                </div>
                <div class="proj-cnt">
                    <h4 class="project-name">Ford 3</h4>
                    <img class="slide" src="/img/ford3.jpeg" alt="">
                </div>
                <div class="proj-cnt">
                    <h4 class="project-name">Ford 4</h4>
                    <img class="slide" src="/img/ford4.jpeg" alt="">
                </div>
            </div>
        </div>

        <button class="slide-btn next-btn"><span>&GreaterGreater;</span></button>
    </div>

</div>

<script src="/js/home.js"></script>