<link rel="stylesheet" href="/css/home.css">

<div class="home-cnt">
    
    <h1 class="home-head">Projects</h1>

    <div class="projects-cnt">

        <button class="slide-btn back-btn"><span>&LessLess;</span></button>

        <div class="slide-cnt">
            <div class="project-img">
               <!-- Projects will be dynamically added here -->
            </div>
        </div>

        <button class="slide-btn next-btn"><span>&GreaterGreater;</span></button>
    </div>

</div>

<script src="/js/home.js"></script>