<link rel="stylesheet" href="/css/login.css">

<div class="login-cnt">

    <form class="login-form" method="post" action="">

        <h1 class="login-heading">LOGIN</h1>

        <label for="inp-username" class="login-lbl">Username:</label>
        <input type="text" class="login-inp" id="inp-username" required/>

        <label for="inp-password" class="login-lbl">Password:</label>
        <input type="password" class="login-inp" id="inp-password" required/>

        <button type="submit" class="login-btn">Proceed</button>

        <p class="login-status">Status</p>

    </form>
</div>