<link rel="stylesheet" href="/css/view-project.css">

<div class="view-project-cnt">

    <h1 class="view-proj-head">Project Details</h1>

    <div class="proj-img">
        <img class="project-icon">
    </div>

    <div class="problem-cnt">

        <h2 class="question-1">What is the problem?</h2>

        <p class="problem">
            <!-- the problem description will go here -->
        </p>

    </div>

    <div class="solution-cnt">

        <h2 class="question-2">What is the solution?</h2>

        <p class="solution">
            <!-- the solution description will go here -->
        </p>

    </div>

    <div class="revenue-cnt">

        <h2 class="question-3">What impact does the solution have on the revenue?</h2>

        <p class="revenue">

           <!-- the revenue description will go here -->
        </p>

    </div>

    <div class="cost-cnt">

        <h2 class="question-4">What impact does the solution have on business costs?</h2>

        <p class="cost">

            <!-- the cost impact description will go here -->
        </p>

    </div>

        <div class="time-cnt">

        <h2 class="question-5">What impact does the solution have on operational time?</h2>

        <p class="time">
            <!-- the time impact description will go here -->
        </p>

    </div>


</div>

<script src="/js/view-project.js"></script>