.about-cnt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid rebeccapurple;*/
    width: 100%;
}

.img-cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.my-img{
    border-radius: 50%;
    width: 22%;
}

.group-cnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.text-cnt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

hr{
    border: 1px solid black;
    width: 50%;
}

p, ul li, ol li{
    font-size: 25px;
}

.intro, .skills, .experience, .education{
    font-size: 30px;
    text-align: center;
}

@media (max-width: 900px) {
    
    .my-img{
        width: 200px;
    }
}