.edit-head{
    margin-bottom: 30px;
}

.edit-cnt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.edit-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 25px;
    background-color: darkgray;
    width: 90%;
    height: 90%;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 15px;
    padding: 10px;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7px;
    width: 50%;
}

.btn-row{
    justify-content: center;
}

.btn-row .col{
    width: 150px;
}

.edit-btn{
    font-size: 20px;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
}

.edit-btn:hover{
    background-color: white;
}

.edit-lbl{
    font-size: 25px;
}

.edit-inp{
    width: 100%;
    font-size: 20px;
    padding: 7px;
    border: none;
    border-radius: 10px;
}

.add-btn{
    background-color: green;
}

.update-btn{
    background-color: orange;
}

.get-data-btn{
    background-color: yellow;
}

.delete-btn{
    background-color: red;
}

.ta{
    resize: vertical;
}

.col-status{
    display: none;
    margin: 0;
}

@media (max-width: 627px) {

    .btn-row .col{
        width: 50%;
    }

    .edit-btn{
        width: 100%;
    }

    .edit-lbl, .edit-inp{
        font-size: 20px;
    }
}