.edit-head{
    margin-bottom: 30px;
}

.edit-cnt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 2px solid green;*/
    width: 80vw;
    height: 100%;
}

.edit-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 25px;
    background-color: darkgray;
    width: 100%;
    height: 90%;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid red;*/
    width: 100%;
    margin: 15px;
    padding: 10px;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid rebeccapurple;*/
    margin-right: 20px;
}

.btn-row{
    justify-content: center;
}

.edit-btn{
    margin-right: 20px;
    font-size: 25px;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
}

.edit-btn:hover{
    background-color: darkgray;
}

.edit-lbl{
    font-size: 25px;
}

.edit-inp{
    width: 800px;
    font-size: 20px;
    padding: 7px;
    border: none;
    border-radius: 10px;
}

.add-btn{
    background-color: green;
}

.update-btn{
    background-color: orange;
}

.get-data-btn{
    background-color: yellow;
}

.delete-btn{
    background-color: red;
}

footer{
    position: relative;
}

.ta{
    resize: vertical;
}

.col-status{
    display: none;
    margin: 0;
}